body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}
/* navigation bar */

.nav-item {
  padding: 0 18px;
}
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: light;
}
/* Download button */
.download-button {
  margin: 5% 3% 5% 0;
}
/* Title section */

#title {
  text-align: left;
}

.title-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
/* Title Image */
.title-image {
  width: 19%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* Features section */

.fontawesome {
  padding-bottom: 15px;
  color: #ef8172;
}
.fontawesome:hover {
  color: #ff4c68;
}
#features {
  padding: 50px 0;
  position: relative;
}
.features-heading {
  font-weight: 800;
  font-size: 1.5rem;
}
.feature {
  padding: 50px 0;
}
.features-details {
  color: #8f8f8f;
  font-size: 1rem;
  width: 50%;
  margin: 0 auto;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
}

.testimonial-heading {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
}

.pricing-heading {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-text {
  font-weight: 800;
  font-size: 1.5rem;
}
.pricing-column {
  padding: 3% 2%;
}
/* cta */
#cta {
  padding: 7% 15%;
}

.btn-cta {
  margin: 2% 1%;
}

/* footer */

#footer {
  padding: 7% 15%;
}
.fa-icons {
  margin: 20px 15px;
}

@media (max-width: 1000px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0deg);
    width: 40%;
  }
}

